@model OrderHistory
@{
    ViewData["Title"] = "OrderHistory";
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #FFF5EE;
        padding: 30px;
    }

    .grid-item {
        background-color: #F5F5F5;
        border: 10px solid #FFF5EE;
        padding: 20px;
        font-size: 15px;
        text-align: center;
    }
        .grid-item.Active {
            background-color: orange;
        }

        .grid-item.Voided {
            background-color: gray;
        }

        .grid-item.Paid {
            background-color: lawngreen;
        }

        .grid-item.Ready {
            background-color: red;
        }
</style>
<h2>OrderHistory</h2>
<div class="grid-container">
    @foreach (OrderInfo info in Model.GetOrders())
    {
    <div class="grid-item @info.Order.State.ToString()" onclick="location.href='View?OrderInfoId=@info.Id'">
        <p> Table id: @info.TableId</p>
        @foreach (int seat in info.TableSeatsNumbers)
        {<p>Seat : @seat</p>}
        <p>Order Id:  @info.Order.Id</p>
        <p>Order state:@info.Order.State</p>
        <p>Ordered: @info.Order.OpenedDate</p>
        <p>Price: @info.Order.TotalPrice.ToString("C2")</p>
        <p>Waiter: @info.Order.Waiter</p>
    </div>
    }

</div>