@model OrderHistory
@{
    ViewData["Title"] = "OrderHistory";
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style>
<h2>OrderHistory</h2>
<div class="grid-container">
    @foreach (OrderInfo info in Model.GetOrders())
    {
    <div class="grid-item" onclick="location.href='View?row=@info.Table.Row&column=@info.Table.Column&seat=@Array.IndexOf(info.Table.TableSeats, info.TableSeats.FirstOrDefault())&id=@info.Order.Id'">
        
        <p> Table id: @info.Table.Id</p>

            <p>Table row: @info.Table.Row</p>
            <p>Table column: @info.Table.Column</p>

            @foreach (TableSeat seat in info.TableSeats)
    {
        <p>Seat: @Array.IndexOf(info.Table.TableSeats, seat)</p>
        <p>Seat id: @seat.Id</p>
}
        <p> Order Id:  @info.Order.Id</p>
            @info.Order.State
</div>
    }

</div>