@model List<OrderInfo>
@{
    ViewData["Title"] = "OrderHistory";
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #FFF5EE;
        padding: 30px;
    }

    .grid-item {
        background-color: #F5F5F5;
        border: 10px solid #FFF5EE;
        padding: 20px;
        font-size: 15px;
        text-align: center;
    }
        .grid-item.Active {
            background-color: orange;
        }

        .grid-item.Voided {
            background-color: gray;
        }

        .grid-item.Paid {
            background-color: lawngreen;
        }

        .grid-item.Ready {
            background-color: red;
        }
        .sm{
            font-size:small
        }
</style>
<h2>OrderHistory</h2>
<div class="grid-container">
    @foreach (OrderInfo info in Model)
    {
    <div class="grid-item @info.Order.State.ToString()" onclick="location.href='View?OrderInfoId=@info.Id'">

        <p align="right" class="sm">Waiter: @info.Order.Waiter</p>
        <p align="right" class="sm">Price: @info.Order.TotalPrice.ToString("G")</p>
        @if (ViewData[info.TableId.ToString()]!=null) { 
        <p>Table place:<br /> @ViewData[info.TableId.ToString()]</p>}
        @foreach (SeatNumber seat in info.TableSeatsNumbers)
    {<p>Seat : @("ABCD"[seat.Number])</p>}
        @*<p>Order Id:  @info.Order.Id</p>*@
        @*<p>Order state:@info.Order.State</p>*@


        <p align="left" class="sm">Ordered: @info.Order.OpenedDate</p>

    </div>
    }

</div>