@model Table
@{
    ViewData["Title"] = "TableDetail";
    var curSeat = Model.TableSeats[ViewBag.curSeat];
    var isOpened = curSeat.Order==null?false: curSeat.Order.State != Order.OrderState.Voided && curSeat.Order.State != Order.OrderState.Paid;
}
<style>
    #rot180 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    table {
        border: none;
    }

    tr {
        border: none;
    }

    td {
        border: none;
    }
</style>
<h2>TableDetail</h2>
<h3>@Model.Id</h3>
<h3>Table row: @Model.Row</h3>
<h3>Table column: @Model.Column</h3>
<h3>Seat: @ViewBag.curSeat</h3>
<table cellpadding="0" cellspacing="0">
    <tr>
        <td onclick="location.href='?row=@ViewBag.row&column=@ViewBag.column&seat=0'"><img src="~/images/Seat.png" height="100%" width="100%"></td>
        <td onclick="location.href='?row=@ViewBag.row&column=@ViewBag.column&seat=1'"><img src="~/images/Seat.png" height="100%" width="100%"></td>
    </tr>
    <tr>
        <td colspan="2"><img src="~/images/Table.png" height="100%" width="100%"></td>
    </tr>
    <tr>
        <td onclick="location.href='?row=@ViewBag.row&column=@ViewBag.column&seat=2'"><img src="~/images/Seat.png" id="rot180" height="100%" width="100%"></td>
        <td onclick="location.href='?row=@ViewBag.row&column=@ViewBag.column&seat=3'"><img src="~/images/Seat.png" id="rot180" height="100%" width="100%"></td>
    </tr>
</table>

<p>Id of seat: @curSeat.Id</p>
@if (curSeat.Order == null)
{
    <form method="post" action="/CreateOrder">
        <input type="hidden" value="@ViewBag.row" name="row" />
        <input type="hidden" value="@ViewBag.column" name="column" />
        <input type="hidden" value="@ViewBag.curSeat" name="seat" />
        <input type="hidden" value="true" name="x" />
        <input type="submit" class="btn btn-primary" value="Create order" />
    </form>
}
else
{
    <h3>Order status: @curSeat.Order.State</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Item name</td>
                <td>Item price</td>
            </tr>
        </thead>
        @foreach (OrderItem item in curSeat.Order.OrderItems)
        {
            <tr>
                <td> @item.Name </td>
                <td> @item.Price </td>
            </tr>
        }
    </table>
    @if (isOpened)
    {
        <p>Add item:</p>
        <form method="post" action="/CreateItem" class="form-group">
            <input type="hidden" value="@ViewBag.row" name="row" />
            <input type="hidden" value="@ViewBag.column" name="column" />
            <input type="hidden" value="@ViewBag.curSeat" name="seat" />
            <label for="name">
                Item name:
            </label>
            <input name="name" id="name" />
            <label for="price">
                Item price:
            </label>
            <input type="number" name="price" id="price" />
            <br />
            <input type="submit" class="btn btn-primary" value="Add" />
        </form>}
    <p>Discount:@curSeat.Order.Discount </p>
    @if (isOpened)
    {
        <form method="post" action="/IncDiscount" class="form-group">
            <input type="hidden" value="@ViewBag.row" name="row" />
            <input type="hidden" value="@ViewBag.column" name="column" />
            <input type="hidden" value="@ViewBag.curSeat" name="seat" />
            <label for="discount">
                Increase discount on:
            </label>
            <input type="number" name="discount" id="discount" />
            <br />
            <input type="submit" class="btn btn-primary" value="Increase discount" />
        </form>}
    <p>Tips:@curSeat.Order.Tips</p>
    @if (isOpened)
    {

        <form method="post" action="/IncTips" class="form-group">
            <input type="hidden" value="@ViewBag.row" name="row" />
            <input type="hidden" value="@ViewBag.column" name="column" />
            <input type="hidden" value="@ViewBag.curSeat" name="seat" />
            <label for="tips">
                Increase tips on:
            </label>
            <input type="number" name="tips" id="tips" />
            <br />
            <input type="hidden" value="true" name="x" />
            <input type="submit" class="btn btn-primary" value="Increase tips" />
        </form>}
    <p>Total:@curSeat.Order.TotalPrice</p>
    @if (isOpened)
    {
        <form method="post" action="/Pay" class="form-group">
            <input type="hidden" value="@ViewBag.row" name="row" />
            <input type="hidden" value="@ViewBag.column" name="column" />
            <input type="hidden" value="@ViewBag.curSeat" name="seat" />
            <input type="hidden" value="true" name="nothing" />
            <input type="submit" class="btn btn-primary" value="Mark paid" />
        </form>
        <form method="post" action="/Void" class="form-group">
            <input type="hidden" value="@ViewBag.row" name="row" />
            <input type="hidden" value="@ViewBag.column" name="column" />
            <input type="hidden" value="@ViewBag.curSeat" name="seat" />
            <input type="hidden" value="0" name="nothing" />
            <input type="submit" class="btn btn-primary" value="Void" />
        </form>}
}
